.env

# Radarr
radarr/config/*
!radarr/config/radarr.db

# Sonarr
sonarr/config/*
!sonarr/config/nzbdrone.db

# Bazarr
bazarr/

# Jackett
jackett/config/Jackett/*
!jackett/config/Jackett/Indexers
!jackett/config/Jackett/ServerConfig.json

# Plex
plex/

# QBittorrent
qbittorrent/

# Media
media/
